.header-navbar{
  padding-left: 20px;
}
.header-navbar h3{
  margin-top: 20px;
  font-weight: 600;
  font-size: 32px;
  

}
.header-navbar h5{
  margin-top: 50px;
  margin-bottom: 20px;
}

.header {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .header-image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px;
  }
  
  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;
    padding: 40px; 
  }
  
  .header-overlay h1 {
    font-size: 48px;
    margin: 0;
  }
  
  .header-overlay p {
    font-size: 16px;
    max-width: 600px;
    margin: 10px 0;
  }